.container {
  display: grid;
  grid-gap: 8rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.container img {
  max-width: 100%;
  align-self: stretch;
  justify-self: stretch;
  object-fit: cover;
}
.portrait {
  grid-row: auto / span 2;
}
.fit-left {
  object-position: left;
}
.fit-right {
  object-position: right;
}

/* Decoration */

* {
  box-sizing: border-box;
}
body {
  margin: 2rem;
  background: #fff;
  font-family: arial, sans-serif;
  font-size: 1.2em;
}

.container,
.container > img {
  padding: 1px;
  color: #fff;
}
.container > img {
  margin: 8px;
  background: #fff;
  border: 1px solid #ddd;
}

h1 {
  font-size: 70px;
  letter-spacing: 10px;
  color: #000;
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
}
p {
  text-align: center;
}

Nav{
  width:100%;
  Background: #262626;
  Overflow: hidden;
  Position: fixed;
  Top: 0;
}
Ul{
  Padding: 4;
  Margin:1;
  List-style:none;
}
Li{
  Float: left;
}
a{
  Padding:0px;
  width:100px;
  display:Block;
  text-decoration:none;
  color: #fff;
  text-transform: uppercase;
}
footer {
  text-align: center;
}

  